<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/headercat') %>
        <main>

            <div class = "show-producto">
                <img src="/images/cafetera.jpg" width="100%" id="imagenPrincipal"> 
            <section class="sectionRight">
         
                <form action="" method="">
                    <h1>Cafetera Molix</h1>
                    <h3 class = "descuento">40% off</h3>
                    <h3>$17.555</h3>
                    <div class="counter">
                        <span class="down" onClick='decreaseCount(event, this)'>-</span>
                        <input type="text" value="1">
                        <span class="up"  onClick='increaseCount(event, this)'>+</span>
                    </div>
                    <button class="product-botton" >Agregar al carrito</button>
                    <p class="cuotas">Hasta 12 cuotas sin interes</p>

                </form>
            </section>

        </div>
        </main>

        <%- include('./partials/footer') %>
</body>

</html>